@CHARSET "ISO-8859-1";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
  }
  
  nav ul li a:hover {
    background-color: #575757;
  }
  
  h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
  }
  
  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
button {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 8px;
}

button[type="submit"] {
    display: inline-block;
}

button.edit-button {
    background-color: #4CAF50; /* Green for Edit */
    color: white;
}

button.edit-button:hover {
    background-color: #45a049; /* Darker Green on Hover */
}

button.delete-button {
    background-color: #f44336; /* Red for Delete */
    color: white;
}

button.delete-button:hover {
    background-color: #d32f2f; /* Darker Red on Hover */
}